/* .cabecalho {
    width: 100%;
    height: 72px;
} */

.cabecalho .cabecalho_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #FFFFFF;
}

a .alura_logo {
    width: 100px;
    height: 28px;
}

.buscador_logo {
    width: 17.05px;
    height: 17.06px;
}
