.info_container {
    display: flex;
    flex-direction: column;
    padding: 32px 16px 16px 16px;
    background: #EAF2FD;
}

.info_empresa {
    text-align: center;
    margin-bottom: 16px;
}

.empresa_imagem {
    margin-bottom: 32px;
}

.empresa_imagem img {
    vertical-align: middle;
}

.lista_empresa li {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.form p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
}

.form_group_input {          
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.form_group_input input {
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: all .3s ease-out;
    color: #464646;
    padding-left: 12px;
    padding-bottom: 3px;
}

.form_group_input input:focus{
    border-bottom: 2px solid #04124b;
}

.form_group {
    position: relative;
}

.form label {
    position: absolute;
    margin-top: 25px;
    pointer-events: none;
    transition: .5;
    padding: 0 12px;
}

.form input:focus ~ label,
.form input:valid ~ label

{
    transform: translateY(-20px);
    font-size: 14px;
    color: #A2A2A2;
    transition: .35s;
}

.form span {
    pointer-events: none;
    transition: .5;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.form_group_textarea {          
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.form .textarea {
    margin-top: 20px;
}

.form_group_textarea textarea {
    height: 82px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #464646;
    outline: none;
    resize: none;
    padding: 16px 12px;
}

.form_group_textarea textarea:focus{
    border-bottom: 2px solid #04124b;
}

.form textarea:focus ~ label,
.form textarea:valid ~ label

{
    visibility: hidden;
    font-size: 14px;
    color: #A2A2A2;
    transition: .35s;
}

.form button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
    width: 151px;
    height: 40px;
    background: #2A7AE4;
    border: none;
    color: #EAF2FD;
    outline: none   ;
}

.form button:hover {
    cursor: pointer;
    background-color: #13415b;
    color: #b0deda;
    border: 1px solid #b0deda;
}

@media  (min-width: 768px) {
    .info_container {
        flex-direction: row;
        padding: 32px 32px 0;
        margin-top: -32px;
    }
    
    .info_empresa {
        text-align: left;
        width: 40%;
    }
    
    .lista_empresa li {
        margin-top: 24px;
    }
    
    .form {
        width: 60%;
    }
}

@media (min-width: 1065px) {

    .info_container {
        padding: 64px 152px 55px 152px;
        text-align: left;
        gap: 112px;
        margin-top: 8px;
    }
    
    .info_empresa {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        margin-top: -23px;
    }

    .empresa_imagem {
        margin-top: 30px;
    }

    .form {
        width: 50%;
    }    
}