.info_container {
    display: flex;
    flex-direction: column;
    padding: 32px 16px 16px 16px;
    background: #EAF2FD;
}

.info_empresa {
    text-align: center;
    margin-bottom: 16px;
}

.empresa_imagem {
    margin-bottom: 32px;
}

.lista_empresa li {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* text-decoration: none; */
}

.form p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
}

.form_group {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.form_group input {
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
}

.form_group textarea {
    height: 82px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
}

.form button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
    width: 151px;
    height: 40px;
    background: #2A7AE4;
    border: none;
    color: #EAF2FD;
}

@media  (min-width: 640px) {
    .info_container {
        flex-direction: row;
        padding: 32px 32px 0 32px;
    }
    
    .info_empresa {
        text-align: left;
        width: 40%;
    }
    
    .lista_empresa li {
        margin-top: 24px;
    }
    
    .form {
        width: 60%;
    }
}

@media (min-width: 1065px) {

    .info_container {
        padding: 64px 152px 32px 152px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 112px;
    }
    
    .info_empresa {
        display: flex;
        /* width: 40%; */
        width: 100%;
        justify-content: space-between;
    }

    .lista_empresa {
        /* margin-top: -23px; */
    }

    .form {
        /* width: 60%; */
        width: 100%;
    }    

}