/* Info Empresa */
.info_formulario {

}

.info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0 16px;
    width: 100%;
    gap: 16px;
    background: #EAF2FD;
}

.info_empresa {
    text-align: center;
    /* width: 100%; */
}
.empresa_imagem {
    margin-bottom: 32px;
}

/* .lsta_empresa {

} */

.lista_empresa li {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* text-decoration: none; */
}

/* Form */
.form {
    /* width: 100%; */
    /* padding: 16px; */
}

.form p {
    width: 328px;
    height: 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
}

.form_group {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    /* padding: 16px;  */
}

.form_group input {
    /* width: 328px; */
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
}

.form_group textarea {
    /* width: 328px; */
    height: 82px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
}

/* .form_group span {
    margin-right: auto;
    align-items: flex-start;
} */

.form button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
    width: 151px;
    height: 40px;
    background: #2A7AE4;
    border: none;
    color: #EAF2FD;
}
