/* .conteudo_principal {

} */

/* .titulo_star_wars {

} */

.ver_tudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 0 16px;
}

.ver_tudo a {
    text-decoration: none;
}

.titulo_departamento {
    width: 102px;
    height: 26px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.ver {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #2A7AE4;
}

/* #flecha {

} */

/* Containers */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    gap: 16px;
}

/* .produtos {

} */

.produto_imagen, .produto_titulo, .produto_preco, .ver_produto {
    margin-top: 8px;
    /* gap: 8px; */
}

.produto_imagen {
    width: 100%;
    height: 180px;
}

.produto_titulo {
    width: 156px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.produto_preco {
    width: 156px;
    height: 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.ver_produto {
    width: 80px;
    height: 16px; 
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #2A7AE4;
}


@media (min-width: 640px) {
    /* .ver_tudo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 16px 0 16px;
    }
    
    .ver_tudo a {
        text-decoration: none;
    }
    
    .titulo_departamento {
        width: 102px;
        height: 26px;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }
    
    .ver {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #2A7AE4;
    }
    
    /* #flecha {
    
    } */
    
    /* Containers */
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 16px;
        gap: 16px;
    }
    
    /* .produtos {
    
    } */
    
    .produto_imagen, .produto_titulo, .produto_preco, .ver_produto {
        margin-top: 8px;
        /* gap: 8px; */
    }
    
    .produto_imagen {
        width: 100%;
        height: 180px;
    }
    
    .produto_titulo {
        width: 156px;
        height: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }
    
    .produto_preco {
        width: 156px;
        height: 19px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    
    .ver_produto {
        width: 80px;
        height: 16px; 
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #2A7AE4;
    } */
}